/****************/
/* JOUW STYLING */
/****************/

/* Main */

main{
    padding: 0 1em;
}

main span{
    text-transform: uppercase;
    flex-basis: 100%;
    font-size: 2em;
    line-height: 0.9em;
}

main > section{
    margin: 2em 0;
}

/* First section */

main > section:first-of-type ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: grid;
    gap: 1.5em;
}

main > section:first-of-type ul li{
    border-radius: 1.3em;
}

main > section:first-of-type ul li:first-of-type{
    background-color: #ddbd8e;
    background-image: url(../images/koffiebackground.svg);
    background-repeat: no-repeat;
    background-size: 100%;
}

main > section:first-of-type ul li a{
    text-decoration: none;
}

main > section:first-of-type ul li:first-of-type a p, main > section:first-of-type ul li:last-of-type a p{
    color: #ffffff;
    font-size: 2.5em;
    font-family: 'DunkinSans-Display', sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
}

main > section:first-of-type ul li:nth-child(1), main > section:first-of-type ul li:nth-child(2), main > section:first-of-type ul li:last-of-type{
    padding: 1em;
}

main > section:first-of-type ul li:nth-child(2){
    background-color: var(--cta-main-color);
}

main > section ul li:nth-child(2) p:first-of-type{
    color: var(--nav-link-text);
    font-size: 2.8em;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    font-family: 'DunkinSans-Display', sans-serif;
}

main > section ul li:nth-child(2) p:last-of-type{
    color: var(--nav-link-text);
    font-size: .7em;
}

main > section ul li:nth-child(2) button{
    border: none;
    border-radius: .7em;
    padding: .8em;
    width: 49%;
    text-transform: uppercase;
}
  
main > section ul li:nth-child(2) button:first-of-type{
    background-color: var(--nav-link-text);
    color: var(--cta-main-color);
}

main > section ul li:nth-child(2) button:last-of-type{
    background-color: var(--cta-secondary-main-color);
    color: var(--nav-link-text);
}

main > section ul li:last-of-type {
    background-color: #99D6EA;
    overflow: hidden;
    height: 21em;
}



/* Second section */

/* Derde section */

main > section:nth-child(3){
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr fit-content;
}

main > section:nth-child(3) h2{
    font-size: 1.7em;
    width: 60%;
}

/* Vierde section */

main > section:nth-child(4){
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
}

main > section:nth-child(4) section{
    display: flex;
    flex-direction: column;
}

main > section:nth-child(4) a:first-of-type{
    height: 21em;
}

main > section:nth-child(4) a img{
    object-fit: cover;
    display: block;
    height: 100%;
}

main > section:nth-child(4) h2{
    color: var(--main-color);
    font-size: 1.9em;
}

main > section:nth-child(4) p{
    color: var(--footer-text);
    font-size: .8em;
}

main > section:nth-child(3){
    display: flex;
    flex-wrap: wrap;
}

main > section ol{
    padding: 0;
    padding-left: .3em;
}

main > section ol li{
    display: flex;
    border-radius: 1em;
    margin: 1em 0;
    background-color: var(--main-section-color)
}

main > section:nth-child(3) section div:first-of-type{
    margin: .5em;
    background-color: var(--cta-main-color);
    height: 3em;
    aspect-ratio: 1/1;
    display: flex;
    align-self: center;
    border-radius: 50%;
    margin: 1em;
}

main > section:nth-child(3) section:nth-child(3) div:first-of-type{
    background-color: var(--main-color);
}

main > section:nth-child(3) section h3{
    color: var(--cta-main-color);
    text-transform: uppercase;
    font-size: 1em;
}
main > section:nth-child(3) section p{
    font-size: .7em;
}


main > section:nth-child(3) h2, main > section:nth-child(5) h2{
    display: flex;
    flex-wrap: wrap;
}	

main > section:nth-child(3) h2 span:first-of-type, main > section:nth-child(3) h2 span:last-of-type,
main > section:nth-child(5) h2 span:first-of-type{
    color: var(--cta-main-color);
}

main > section:nth-child(3) h2 span:nth-child(2), main > section:nth-child(5) h2 span:last-of-type{
    color: var(--main-color);
}


main > section:nth-child(4) img{
    border-radius: 1em;
}

main > section:nth-child(5){
    display: grid;
    gap: 3em;
}

main > section:nth-child(5) section:first-of-type{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
}

main > section:nth-child(5) section:last-of-type a{
    display: grid;
    gap: 1em;
    text-decoration: none;
    padding: 1em;
    border: 0.3em solid #f1f1f1;
    border-radius: 1em;
    background-color: #f9f9f9;
}

main > section:nth-child(5) a img{
    margin: 0;
    padding: 0;
    border-radius: 1em;
}

main > section:nth-child(5) a h3{
    margin: 0;
    background-color: #f20c90;
    color: white;
    width: fit-content;
    border-radius: 1em;
    font-size: .8em;
    padding: 0.4em 1em;
    text-transform: uppercase;
}

main > section:nth-child(5) a p{
    margin: 0;
    padding: 0;
    color: #512d00;
    font-family: 'DunkinSans-Display', sans-serif;
    font-size: 1.1em;
}

main > section:nth-child(5) section div{
    display: flex;
    justify-content: center;
}

main > section:nth-child(5) section div button{
    margin: .3em;
    aspect-ratio: 1/1;
    border: none;
    border-radius: 50%;
}

main > section:last-of-type{
    background-color: var(--cta-main-color);
    border-radius: 1em;
    display: flex;
}

main > section:last-of-type article{
    display: grid;
    align-items: center;
    gap: 1rem;
    width: 100%;
    justify-items: center;
    padding: 2em;
}

main > section:last-of-type article h2{
    color: var(--nav-link-text);
    text-transform: uppercase;
    font-size: 2.5em;
    text-align: center;
    margin: 0;
}

main > section:last-of-type article a{
    position: relative;
    width: 100%;
    max-width: 14em;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: .7em solid var(--nav-link-text);
    overflow: hidden;
}

main > section:last-of-type article a img{
    height:100%;
    display:block;
    transform: scale(1.1);
}

main > section:last-of-type article p{
    font-family: 'DunkinSans-Display', sans-serif;
    text-transform: uppercase;
    color: var(--nav-link-text);
    font-size: 1.3em;
    text-align: center;
    margin: 0;
}

main > section:last-of-type article button{
    padding: 1.2em 1.5em;
    border-radius: 2em;
    border: 0;
    color: #f20c90;
    text-transform: uppercase;
    margin: 1.5em;
}
  


@media (min-width: 30em){
    main{
        padding: 1em;
    }

    main section ol li{
        margin-left: 2em;
    }

    main > section:nth-child(2) ul {
        grid-template-columns: 5fr 3fr;
    }

    main > section:nth-child(2) ul li:nth-child(1){
        grid-row-start: 1;
        grid-row-end: 3;
    }

    main > section:nth-child(3){
        margin: 2em 0;
        display: grid;
        grid-template-columns: 2fr 3fr;
        grid-template-rows: 1fr fit-content;
    }
    
    main > section:nth-child(3) section{
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 2;
        height: 100%;
    }

    main > section:nth-child(3) h2{
        align-self: end;
    }

    main > section:nth-child(3) a{
        height: fit-content;
    }

}