
/**************/
/* CSS REMEDY */
/**************/

*, *::after, *::before {
	box-sizing:border-box;  
}

button, summary {
	cursor: pointer;
}

img{
	width: 100%;
}

.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.main-link{
    flex-basis: 100%;
    text-align: center;
    background-color: var(--main-color);
    padding: 1em;
    border-radius: 5em;
    margin: .2em 1em;
    text-transform: uppercase;
    text-decoration: none;
    font-size: .8em;
    color: var(--nav-link-text);
}

@font-face {
	font-family: "DunkinSans-Book";
	src: url("../fonts/DunkinSans-Book.otf") format("opentype");
}
@font-face {
	font-family: "DunkinSans-Display";
	src: url("../fonts/DunkinSans-Display.otf") format("opentype");
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--nav-link-text: #ffffff;
	--footer-text: #c1c1c1;

	--cta-main-color: #f20c90;
	--cta-secondary-main-color: #f950ad;

	--color-background:#eee;
	--main-color: #ff6e0c;
	--nav-link-color: #ee4c25;
	--main-section-color: #F5F5F5;
	--text-brown: #512d00;
}

body{
	font-family: 'DunkinSans-Book', sans-serif;
	margin: 0;
}

h1, h2, h3, span, .main-link, button{
	font-family: 'DunkinSans-Display', sans-serif;
	text-transform: uppercase;
}

header{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid rgb(235, 235, 235);
}

header > p{
	width: 100%;
	order: -100;
	text-align: center;
	font-size: 0.7em;
	background-color: var(--main-color);
	color: var(--color-background);
	margin: 0;
	padding: 1em;
}

header button{
	margin: 1.1em;
	padding: .5em 1.1em;
	border-radius: 1em;
	border: none;
}

header button:first-of-type{
	order: -50;
}

header a img{
	width: 7em;
}

/* Footer */

footer div{
    background-color: var(--main-color);
}

footer div nav ul{
    padding: 0;
    margin: 0;
}
  
footer div nav ul li{
      list-style-type: none;
}
  
footer div nav:first-of-type ul{
      display: flex;
      flex-wrap: wrap;
}
  
footer div nav:first-of-type ul li{
      flex-basis: 100%;
      text-align: center;
      background-color: var(--nav-link-color);
      padding: 1em;
      border-radius: 5em;
      margin: .2em 1em;
}
  
footer div nav:first-of-type ul li a{
      background-color: transparent;
}
  
footer div nav:last-of-type ul{
      display: flex;
      justify-content: center;
      gap: 1em;
}
  
footer div nav:last-of-type ul li a{
      color: var(--main-color);
      background-color: var(--nav-link-text);
}
  
footer > nav{
      padding: 0.2em;
}
  
footer > nav ul{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      padding: 1em;
}
  
footer > nav ul li{
      list-style-type: none;
      font-size: .6em;
}
  
footer > nav ul li a, footer span{
      color: var(--footer-text);
}
  
footer > nav ul li a{
      text-decoration: none;
}